.heading {
    background-color: transparent;
    padding: 8px 12px;
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--content-color);
    resize: none;
    height: 40px;
    overflow: hidden;
    margin-bottom: 22px;
}

.bold {
    background-color: transparent;
    padding: 8px 12px;
    resize: none;
    height: 40px;
    overflow: hidden;
    font-weight: bold;
    width: 100%;
}

.code {
    background-color: transparent;
    padding: 8px 12px;
    resize: none;
    height: 90px;
    overflow: hidden;
    width: 80%;
}

.italic {
    background-color: transparent;
    padding: 8px 12px;
    resize: none;
    overflow: hidden;
    font-style: italic;
    width: 100%;
}