.heading,
.bold,
.code,
.italic {
    background-color: transparent;
    padding: 8px 12px;
    outline: none;
    width: 100%;
    border-radius: 4px;
    resize: none;
    border-color: var(--content-color);
    overflow: hidden;
}

.heading {
    border-radius: 0px;
    border-width: 0 0 2px;
    height: 40px;
    margin-bottom: 22px;
}

.bold {
    height: 40px;
    font-weight: bold;
}

.code {
    height: 90px;
}

.italic {
    font-style: italic;
}