.heading,
.bold,
.code,
.italic,
.plain {
    background-color: transparent;
    padding: 8px 12px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-bottom: 2px solid var(--content-color);
}

.heading {
    margin-bottom: 22px;
}

.bold {
    font-weight: bold;
}

.code {
    resize: none;
    height: 140px;
}

.italic {
    font-style: italic;
}

.plain {
}