.heading {
    margin: 16px 0;
}

.bold {
    font-weight: bold;
    margin: 6px 0;
}

.italic {
    font-style: italic;
    margin: 6px 0;
}

.quote {
    padding: 8px 16px;
    background-color: var(--app-color-6);
    padding: 18px;
    font-size: 20px;
    border-left: 6px solid var(--content-color);
    width: 100%;
    margin: 16px 0;
}

.img-action {
    max-width: 100%;
    max-height: 30vh;
    border-radius: 8px;
    margin: 8px;
}

.plain {
    margin: 6px 0;
}

.code {
    margin: 14px 0;
}